## -*- coding: utf-8 -*-
## encoded in utf-8 with BOM
<!DOCTYPE html>
<html>
<head>
	<%block name="head">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		% if subtitle:
			<title>${config["subtitle"] | h} | ${config["title"] | h}</title>
		% else:
			<title>${config["title"] | h}</title>
		%endif
		
		<link rel="stylesheet" href="${config["stylepath"]}" />
		<script src="/static/js/jquery-1.9.1.min.js"></script>
	</%block>
	<%block name="additional_head">
	</%block>
</head>
<body>
	<div id="main">
		<%include file="/header.html"/>

		## prints all the accumulated flash messages to the page
		<ul id="flashmessages">
		% if flash:
			% for f in flash:
				<% msg = f.to_mako() %>
				<% fclass = f.message_type  %>
				<li class="flash ${fclass}">${msg | h}</li> 
			% endfor
		% endif
		</ul>
		<div id="content">
			${self.body()}
		</div>
		<%block name="footer">
			<footer class="footer">
				the footer
			</footer>
		</%block>
	</div>
</body>
</html>