## -*- coding: utf-8 -*-
## encoded in utf-8 with BOM
<%inherit file="/base.html"/>

% if not logged_in:
<p>
Welcome to <span class="bold">modstash</span>, the number one Amiga module dependency tracker community music site! If you want to upload songs, you should <a href="/register">register</a> first.
</p>
% endif

<section>
	<h1><img src="/static/images/keys_e0.gif" /> Latest songs</h1>
	
	<table class="songlist">
	<tr>
		<th>title</th>
		<th>uploader</th>
		<th>upload date</th>
	</tr>
		% for s in songs:
			<tr>
			<td class="songname">
				<a href="${make_song_url(s['owner'], s['nicename'])}">
				${s['title'] | h}
				</a>
			</td>
			<td>
				<a href="/users/${s['owner']}">
				${s['owner'] | h}
				</a>
			</td>
			<td>
				${s['upload_date'].strftime(config['dateformat']) | h}
			</td>		
			</tr>
		% endfor
	</table>
	
</section>