<%inherit file="/base.html"/>

<section>
	<div id="loginform">
	% if logged_in:
		You have logged in as <a class="navlink" href="/users/${username}">${username}</a>!
		
	% else:
		<h1>Log in</h1>
		<form action="/login" method="post">
			<label for="username">Username: </label>
			<input id="username" type="text" name="username">
			<br>
			<label for="password">Password: </label>
			<input id="password" type="password" name="password">
			<input type="submit" value="login">
		</form>
		<a href="/register">Register</a>
	% endif
	</div>
</section>