## -*- coding: utf-8 -*-
## encoded in utf-8 with BOM
<%inherit file="/base.html"/>

<section>

% if songs:
<% samplename_r = str(samplename) %>
<h1>Sample: ${sampleid} '${samplename_r | h}'</h1>

<section>
<h1>Used in the following songs</h1>
<ul>
% for s in songs:
	<% songr = repr(s) %>
	<li><a href="/songs/${s['owner']}/${s['nicename']}"> ${s['title'] | h} (${s['filename'] | h}) </a></li>
% endfor
</ul>
</section>

% else:
<h1>Sample</h1>
<p>Can't find songs using this sample.</p>
%endif
</section>