## -*- coding: utf-8 -*-
## encoded in utf-8 with BOM
<%inherit file="/base.html"/>

<%block name="additional_head">
	<script src="/static/js/flod_js_21/includes/Core.js"></script>
	<script src="/static/js/flod_js_21/includes/Amiga.js"></script>
	<script src="/static/js/flod_js_21/includes/PTPlayer.js"></script>
	<script src="/static/js/flod_js_21/includes/MKPlayer.js"></script>
	<script src="/static/js/flod_js_21/includes/S1Player.js"></script>
	<script src="/static/js/flod_js_21/includes/FileLoader.js"></script>
</%block>

<%
	downloadurl = '/download/'+song['original_url']
%>

<h2>${song['title'] | h}</h2>
<section>

<span>uploaded by <a href="/users/${owner | h}"> ${owner | h}</a></span>
<ul>
<li>upload date: ${song['upload_date'].strftime(config['dateformat']) | h}</li>
<li>download: <a href="${downloadurl}">${song['filename']}</a></li>
</ul>

% if influences:
<section>
<div class="influence_box">
<h1>This song has been influenced by</h2>
	<ul>
	% for inf in influences:
		<% rep = repr(inf) %>
		<% songurl = make_song_url(inf['owner'], inf['nicename']) %>
		<li>
			<a href="${songurl}">${inf['title'] | h}<a/> <span class="tag">[${inf['type']}]</span> 
		</li>
	% endfor
	</ul>
</div>
</section>
% endif

<div id="flod_player" data-songpath="${downloadurl}">
	<div class="playericon"><img src="/static/images/sounder_e0.gif" /></div>
	<button type="button" id="play">Play</button>
	<button type="button" id="pause" disabled>Pause</button>
	<button type="button" id="stop" disabled>Stop</button>
	<span id="tracker"></span>
	<span id="playerstatus"></span><br>
	<label> volume:  <input type="range" id="volume" min="0.0" max="1.0" step="0.1" value="1.0"/> </label>
</div>

<span class="infonotice"><p>Note: The player only works on Google Chrome.</p></span>

% if instruments:
<section>
<h1>Instruments</h1>
<p>Click an instrument to view in which songs it has been used.</p>
<ul class="monospace samplelist">
	% for ind, ins in enumerate(instruments):

	<li>
		<a href="/sample/${ins['sampleid']}" class="no_link_hilight samplelink">
		<% insname = ins['name'] %>
		<% refcount = ins['refcount'] %>
		<% refhtml = '' %>
		<% if refcount > 1:
			refhtml = '<span class="reference_count">' + str(refcount) + '</span>'
		%>
		 ${refhtml} ${ins['index']}. ${insname | h}
		</a>
	</li>
	
	% endfor
</ul>
</section>
% else:
<p>No instruments found.</p>
% endif

<section>
% if logged_in:
% if username == owner:
<h1>Actions</h1>
<form action="./${nicename}?delete" method="post">
	<input type="submit" value="Delete song">
</form>
% endif
% endif
</section>
</section>

<script>
window.addEventListener("DOMContentLoaded", function() {
    var gid    = function(id) { return document.getElementById(id); },
        play   = gid("play"),
        pause  = gid("pause"),
        stop   = gid("stop"),
        volume = gid("volume"),
		status = gid("playerstatus")
        loader = window.neoart.FileLoader;
        player = null;
	
    play.addEventListener("click", function(e) {
		if (!player) {
			status.innerHTML = "loading..."
			var modurl = gid("flod_player").getAttribute('data-songpath')
			var xhr = new XMLHttpRequest();
			xhr.open('GET', modurl, true);
			xhr.responseType = 'arraybuffer';
			xhr.onload = function(e) {
			  if(this.status == 200){
				var uInt8Array = new Uint8Array(this.response);
				player = loader.load(this.response);
				player.loopSong=1;
				player.play();
				status.innerHTML = "play!"
			  }else{
				status.innerHTML = "error"
			  }
			};
			xhr.send();
		} else {
			player.play();
		}
     
      play.disabled  = true;
      pause.disabled = false;
      stop.disabled  = false;
    });

    pause.addEventListener("click", function(e) {
      player.pause();
      play.disabled  = false;
      pause.disabled = true;
    });

    stop.addEventListener("click", function(e) {
      player.stop();
      completeHandler();
    });

	/*
    next.addEventListener("click", function(e) {
      if (++player.playSong > player.lastSong) player.playSong = 0;
    });
	*/

    volume.addEventListener("change", function(e) {
      player.volume = e.target.valueAsNumber;
    });

    function completeHandler() {
      play.disabled  = false;
      pause.disabled = true;
      stop.disabled  = true;
    }

    document.addEventListener("flodStop", completeHandler);
  });
</script>

