## -*- coding: utf-8 -*-
<%inherit file="/base.html"/>

<h2>Upload a file</h2>

<p>You can currently only upload <a href="http://en.wikipedia.org/wiki/Module_file">ProTracker modules</a>. The song title and instruments are read automatically from the uploaded file.</p>

<form action="upload" method="post" enctype="multipart/form-data">
<label>ProTracker module file (.mod):</label> <br>
<input type="file" name="songfile" /><br />

<label>Song influence URL<br />
<input id="influence_url_box" type="text" name="influence" />
</label><br />

<label>Influence type<br />
<select name="influence_type">
  <option value="empty" selected></option>
  <option value="inspiration">Inspiration</option>
  <option value="sample">Sample</option>
  <option value="remix">Remix</option>
  <option value="cover">Cover</option>
</select>
</label>

<input type="submit" value="Upload"/>
</form>