## -*- coding: utf-8 -*-
## encoded in utf-8 with BOM
<%inherit file="/base.html"/>

<section>
	<h1>${user['username']}</h1>
	<ul>
		<li>joined: ${user['joined'].strftime('%Y-%m-%d')}</li>
		<li>last seen: ${user['last_logged'].strftime(config['dateformat'])}</li>
	</ul>
	
	<section>
	<h1>Songs</h1>
	% if songs:
		<table class="songlist">
		<tr>
			<th>filename</th>
			<th>title</th>
			<th>upload date</th>
		</tr>
		% for s in songs:
			<tr>
			
			<td>
				${s['filename'] | h}
			</td>
			<td>
				<a href="${make_song_url(s['owner'], s['nicename'])}">
				${s['title'] | h}
				</a>
			</td>
			<td>
				${s['upload_date'].strftime(config['dateformat']) | h}
			</td>		
			</tr>
		% endfor
		</table>
	% else:
		No songs.
	%endif
	</section>
	
	% if logged_in:
	% if username == owner or member_type == 'admin':
	<section>
		<h1>Admin actions</h1>
		% if user['member_type'] == 'banned':
			<form action="./${user['username']}?unban" method="post">
				<input type="submit" value="Unban user">
			</form>
		% elif user['member_type'] == 'member' or user['member_type'] == 'moderator':
			<form action="./${user['username']}?ban" method="post">
				<input type="submit" value="Ban user">
			</form>
		% endif
	</section>
	% endif
	% endif
</section>