body {
	background-color:#222;
	color:#111;
	font-family:Verdana;
}

ul {
	list-style-type:none;
}

#main {
	min-width:200px;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	padding:0px;
}

#flashmessages {
	
}

label {
	
}

.header {
	margin:15px;
	padding-top:5px;
}

#content {
	margin:24px;
	
}

footer {
	color:#666;
	background-color:#403838;
	height:50px;
	padding-left:40px;
	padding-top:40px;
}

li.flash {
	list-style-type: none;
	display:inline;
	padding:4px;
	border:1px solid black;
}

#loginbox {
	width:150px;
	float:right;
	background-color:#544;
	color:#cbb;
	padding:5px;
}

li.success {
	border-color:#22cc22;
}

li.error {
	border-color:#cc2222;
}

li.notice {
	border-color:#2222cc;
}

.no_link_hilight:link, .no_link_hilight:visited, no_link_hilight:hover {
	text-decoration: none;
	color:inherit;
}

.navlink:link, .navlink:visited, .navlink:hover {
	color:inherit;
}

#logo {
	text-transform: uppercase;
	font-family:Arial;
	font-size:25px;
	font-weight: bold;
}

#logo:hover {
	color:#444;
}

nav {
	
}

ul.menu {
	list-style-type:none;
	margin:0px;
	padding:4px;
	background-color:#544;
	color:#eee;
}

ul.menu li {
	display: inline;
}

ul.menu li:hover {
	display: inline;
	background-color:#000;
}

.monospace {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.samplelist {
	font-size:0.9em;
	list-style-type: none;
	position:relative;
}

.samplelink {
	display:block;
	min-width:100px;
	max-width:300px;
}

.samplelink:hover {
	background-color:#aa8;
}

span.reference_count {
	background-color:#dcc;
	padding-left:3px;
	padding-right:3px;
	position:absolute;
	left:1em;
}

table.songlist {
	width:500px;
	border-collapse:collapse;
}


.infonotice {
	color:#889;
}

.bold {
	font-weight:bold;
}


#flod_player {
	border: 1px solid black;
	width:250px;
	
	padding:10px;
}

.playericon {
	float: right;
}