body {
	background-color:#eee;
}

#flashmessages {
	
}

li.flash {
	list-style-type: none;
	display:inline;
	padding:4px;
	border:1px solid black;
}

li.success {
	border-color:#22cc22;
}

li.error {
	border-color:#cc2222;
}

li.notice {
	border-color:#2222cc;
}

.no_link_hilight:link, .no_link_hilight:visited, no_link_hilight:hover {
	text-decoration: none;
	color:inherit;
}

.navlink:link, .navlink:visited, .navlink:hover {
	color:inherit;
}

#logo {
	
}

nav {

}

ul.menu {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

ul.menu li {
	display: inline;
}

.monospace {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

ul.samplelist {
	font-size:0.8em;
	list-style-type: none;
}

.samplelink {
	display:block;
	min-width:100px;
	max-width:300px;
}

.samplelink:hover {
	background-color:#aa8;
}

#flod_player {
	border: 1px solid black;
}